{% extends "base.html" %}

{% block header %}

<header class="masthead d-flex align-items-center">
    <div class="container px-4 px-lg-5 text-center">
        <h1 class="mb-1">筆記交易平台</h1>
        <h5 class="mb-6">
            <em>
                上課抄寫筆記後，有時會出現遺漏，甚至抄完後看不懂自己抄了什麼!
                <br>
                此筆記平台提供使用者可以去觀看或購買他人的筆記補充訊息.
            </em>
            <br>
            <a class="btn btn-primary btn-xl" href="#about">更多資訊</a>
    </div>
</header>

{% endblock %}

{% block about %}

<section class="content-section bg-light" id="about">
    <div class="container px-4 px-lg-5 text-center">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-10">
                <h2>關於我們</h2>
                <p class="lead mb-5">
                    <strong>以方便、即時為主，提供使用者良好的使用體驗</strong>
                    <br>
                    1.提供使用者快速查找到需要的筆記
                    <br>
                    2.採用RWD並能支援多平台與裝置
                    <br>
                    3.使用者設計取向，畫面簡單易操作
                    <br>
                </p>
                <a class="btn btn-dark btn-xl" href="#services">更多資訊</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}


{% block services %}

<section class="content-section bg-primary text-white text-center" id="services">
    <div class="container px-4 px-lg-5">
        <div class="content-section-heading">
            <h3 class="text-secondary mb-0">Services</h3>
            <h2 class="mb-5">提供了那些服務?</h2>
        </div>
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-screen-smartphone"></i></span>
                <h4><strong>方便</strong></h4>
                <p class="text-faded mb-0">可在任何裝置觀看</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-pencil"></i></span>
                <h4><strong>即時</strong></h4>
                <p class="text-faded mb-0">下載、即時更改筆記</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
                <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-like"></i></span>
                <h4><strong>收藏</strong></h4>
                <p class="text-faded mb-0">
                    收藏你喜愛的筆記
                    <i class="fas fa-heart"></i>
                </p>
            </div>
            <div class="col-lg-3 col-md-6">
                <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-mustache"></i></span>
                <h4><strong>分類</strong></h4>
                <p class="text-faded mb-0">幫助你快速找到需要的資訊</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block portfolio %}

<section class="content-section" id="portfolio">
    <div class="container px-4 px-lg-5">
        <div class="content-section-heading text-center">
            <h3 class="text-secondary mb-0">Recent Notes</h3>
            <h2 class="mb-5">
                將最新的4篇筆記呈現出來
            </h2>
        </div>
        <div class="row gx-0">
            {% for msg in msg_list %}
            <div class="col-lg-6">
                <a class="portfolio-item" href="{{ msg.get_url }}">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">Recent Note{{ forloop.counter }}</div>
                            <p class="mb-0">{{msg.person_id.name}}</p>
                            <p class="mb-0">分數: {{msg.score}}</p>
                            <p class="mb-0">{{msg.memo}}</p>
                        </div>
                    </div>
                    {% load static %}
                    {% with y=forloop.counter|stringformat:"s" %}
                    {% with image_static="assets/img/portfolio-"|add:y|add:".jpg" %}
                    <img class="img-fluid" src={% static image_static %}/>
                    {% endwith %}
                    {% endwith %}
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}

{% block action %}

<section class="content-section bg-primary text-white">
    <div class="container px-4 px-lg-5 text-center">

        
        <h2 class="mb-4">讓大家知道你的筆記意見或回饋吧!</h2>
        <a class="btn btn-xl btn-light me-4" href="/apply/apply">Click Now!</a>
        <a class="btn btn-xl btn-dark" href="/bonus/msgs">View Now!</a>
    </div>
</section>

{% endblock %}

{% block map %}

<div class="map" id="contact">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3639.8024636319583!2d120.64455241426336!3d24.178659578199426!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34691623a7988aa7%3A0x73dd146c41c3035a!2z6YCi55Sy5aSn5a24!5e0!3m2!1szh-TW!2stw!4v1639922042436!5m2!1szh-TW!2stw" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>

{% endblock %}
